@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


* {
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

a {
    text-decoration: none;
    color: #0E1319;
    font-size: large;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    background-color: #0E1319;
}

header img{
    height: 100px;
}



.texto {
    margin-top: 50px;
    margin-left: 20%;
    margin-right: 20%;
}

.texto p {
    margin-top: 20px;
}
h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.Botão{
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    font-size: large;
    width: 150px;
    height: 50px;
    margin: 20px;
    border-radius: 25px;
    color: #002333;
    background-color: #B4BEC9;
    box-shadow: 2px 2px 2px 2px rgba(49, 48, 48, 0.97);
}

button:hover{
    cursor: pointer;
    border-radius: 35px ;
    box-shadow: 0 0 30px 0 #159A9C;
    transform: scale(1.1);
}
